<div class="wrapper not-found__wrapper">
  <h1 class="not-found_head">Ошибка 404 :(</h1>
  <p>Кажется что-то пошло не так! Страница, которую вы ищите, не существует.</p>
  <button class="not-found_button" mat-button [routerLink]="'/'">Перейти на главную</button>
</div>
