.not-found__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.not-found_head {
  font-weight: bold;
  font-size: 3rem;
}

.not-found_button {
  border-radius: 20px;
  border: none;
  background-color: #bdbdbd;
  height: 40px;

  &:hover {
    background-color: white;
  }
}
