//!Variables

@earl-grey: rgb(237, 237, 237);
@middle-grey:rgb(175, 167, 167);
@dark-grey: #3e4753;
@earl-blue: rgb(116, 159, 222);
@middle-blue: rgb(57, 194, 242);

@btn-text-color: #fff;
@lines-color: @earl-grey;
@input-border-color: @middle-grey;
@btn-color: @dark-grey;
@link-color: @earl-blue;
@logo-color: @middle-blue;

@eye: url(../../assets/img/svg/eye.svg);

//!Mixins
.after(@rules:{margin: 0;}, @width: 100%, @height: 2px){
  &:after{
    content: "";
    display: block;
    width: @width;
    height: @height;
    background-color: @lines-color;
    @rules();
  }
}

.media(@max-width, @rules){
  @media(max-width: @max-width){
    @rules();
  }
}

//--------------------------------------------------

*{
  padding: 0;
  margin: 0;
}

.sign-in,.sign-up{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 132px);
  min-height: 480px;
}

.form {
  width: 100%;
  max-width: 430px;
  box-sizing: border-box;
  padding: 30px;

  .media (430px,{padding: 15px;});
}

.form__content{
  display: flex;
  flex-direction: column;
}

.form__header{
  font-size: 28px;
  .after({margin: 15px 0 0 0;});
}

.form__input{
  width: 100%;
  font-size: 18px;
}

.form__icon{
  position: absolute;
  left: calc(100% - 36px);
  top: calc(50% - 15px);
  width: 30px;
  height: 25px;
  background-image: @eye;
  background-repeat: no-repeat;
}

.button{
  width: 100%;
  background-color: @btn-color;
  box-sizing: border-box;
  border: none;
  padding: 7px;
  color: @btn-text-color;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  &__submit{
    margin: 20px 0 10px;
  }
}

.link{
  font-size: 18px;
  text-decoration: none;
  color: @link-color;
}

.tech{
  color: @logo-color;
}
