<div class="sign-in">
  <form class="form" *ngIf="loginForm" [formGroup]="loginForm">
    <div class="form__content">
      <h2 class="form__header">Вход</h2>
      <mat-form-field class="form__input" appearance="standard">
        <mat-label>Логин или e-mail</mat-label>
        <input matInput class="form__input" type="email" formControlName="email">
        <mat-error>
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <div *ngIf="email?.errors?.['required']">Required field</div>
            <div *ngIf="email?.errors?.['email']">Email invalid</div>
            <div *ngIf="email?.errors?.['validEmails']">Domen invalid</div>

          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form__input" appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" class=" form__password" formControlName="password"
          autocomplete="off" type="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <div *ngIf="password?.errors?.['required']">Required field</div>
            <div *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters</div>
          </div>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button class="button button__submit" [disabled]="!loginForm.valid"
        (click)="loginForm.valid && signIn()">Войти
      </button>
      <a mat-button [routerLink]="'/sign-up'" class="link">Зарегистрироваться на <span class="tech">TechShop</span></a>
    </div>
  </form>
</div>
