.header {
  padding: 15px 0 17px 0;
  background-color: #f2f0f0;
}

.header__wrapper {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  color: #000000;
  text-decoration: none;
  font-size: large;
  font-weight: 900;
}

.header__buttons {
  display: flex;
}

//.header__search {
//  width: 100%;
//  height: 30px;
//  padding: 8px 14px 8px 44px;
//  border-radius: 6px;
//  border: none;
//  outline: none;
//}
//
//.header__search-form {
//  position: relative;
//  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//  max-width: 600px;
//  width: 40%;
//}
//
//.header__search-form::before {
//  content: "";
//  position: absolute;
//  left: 14px;
//  top: 0;
//  bottom: 0;
//  width: 18px;
//  background: url("../../assets/img/svg/search.svg") center / contain no-repeat;
//}

.button {
  border-radius: 4px;
  border: none;
  outline: none;
}

.button:hover {
  cursor: pointer;
  background-color: #fff;
}
