<header class="header">
  <div class="wrapper header__wrapper">
    <a [routerLink]="'/'" class="header__logo">TechShop</a>
    <div class="header__buttons">
      <mat-icon class="button" [routerLink]="'favorites'" *ngIf="favorites | async as fav" matBadge="{{fav.length}}"
        matBadgeColor="warn" matBadgeSize="small"><img src="../../assets/img/svg/heart.svg"></mat-icon>
      <button class="button" [routerLink]="'profile'"><img src="../../assets/img/svg/user.svg"></button>
      <button class="button" (click)="logout()" *ngIf="(user$ | async)"><img
        src="../../assets/img/svg/log-out.svg"></button>
      <mat-icon class="button" [routerLink]="'cart'"
                matBadge="{{(cartData$ | async).data[0].numInCart !== 0 ? (cartData$ | async).data.length : 0}}"
                matBadgeColor="warn" matBadgeSize="small"><img src="../../assets/img/svg/shopping-cart.svg"></mat-icon>
    </div>

  </div>
</header>
