.footer {
  background-color: #3e4753;
}

.footer__wrapper {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}

.logo__img{
  background-image: url(../../assets/img/svg/logo.svg);
  background-repeat: no-repeat;
  background-position: right;
  width: 40px;
  height: 30px;
  display: block;
}
