//!Variables

@earl-grey: rgb(195, 195, 195);
@middle-grey:rgb(175, 167, 167);
@dark-grey: #3e4753;
@earl-blue: rgb(116, 159, 222);

@btn-text-color: #fff;
@lines-color: @earl-grey;
@input-border-color: @middle-grey;
@btn-color: @dark-grey;
@link-color: @earl-blue;

//!Mixins

.media(@max-width, @rules){
  @media(max-width: @max-width){
    @rules();
  }
}

.purchase{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 20px;

  .media(900px, {
    flex-direction: column-reverse;
    width: 50%;
  });
}

.form{
  display: flex;
  flex-direction: column;
  flex-basis: 37%;
}

.form__header{
  font-size: 28px;

  .media(900px, {
    margin-top: 15px;
  })
}

.form__block{
  margin: 15px 0 10px 0;
}

.form__subheader{
  display: block;
  font-size: 18px;
}

.form__input{
  font-size: 18px;
  resize: none;
  .media(450px, {
    width: 100%;
  })
}

._long{
  width: 270px;
}

._middle{
  width: 200px;
}

._short{
  width: 60px;
  text-align: center;
}

.form__address{
  display: flex;
  justify-content: space-between;
  .media(450px, {
    flex-direction: column;
  })
}

.optional{
  color: @lines-color;
}

.form__block-comm{
margin-bottom: 48px;
}

.form__comm{
  width: 100%;
}

.form__person{
  display: flex;
  flex-wrap: wrap;
}

.form__name{
  margin-right: 10px;
}

.payment{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.custom-checkbox{
  font-size: 18px;
}

.custom-checkbox__pos{
  position: relative;
}

.custom-checkbox__input{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox__checkmark{
  position: absolute;
  left: -25px;
  height: 17px;
  width: 17px;
  border: 1px solid @btn-color;
  display: inline-block;
  border-radius: 50%;
}

.custom-checkbox__checkmark::after{
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  display: none;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: @btn-color;
}

.custom-checkbox__input:checked + .custom-checkbox__checkmark::after{
  display: block;
}

.button{
  cursor: pointer;
  width: 50%;
  background-color: #3e4753;
  color: @btn-text-color;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;

  .media(450px, {
    width: 100%;
  })
}


.info{
  box-sizing: border-box;
  padding: 20px;
  align-self: center;
  max-width: 400px;
  min-width: 270px;
  width: 100%;
  border: 2px solid @lines-color;
  border-radius: 10px;
}

.purchase{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchase__item{
  width: 100%;
  // height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchase__item._first{
  align-items: flex-start;
}

.purchase__text{
  font-size: 18px;
}

.purchase__text._grey{
  color: @lines-color;
}

.purchase__text._align-right{
  text-align: right;
}

.link{
  color: @link-color;
  text-decoration: none;
  display: block;
}

.line{
  display: block;
  height: 3px;
  width: 100%;
  background-color: @lines-color;
  margin: 15px 0;
  .media(700px, { margin-top: 30px;})
}

._small_fs{
  font-size: 14px;
}

._wp{
  padding: 0px;
}

.message{
  width: 345px;
  height: 132px;
  background-color: #323232;
  align-self: flex-end;
  box-sizing:border-box;
  padding: 18px;
  color: #fff;
  border-radius: 10px;
  transition: all 0.5s;
}

.message__pos{
  position: fixed;
  bottom: -100%;
  right: 10px;
}

.close__pos{
  position: absolute;
  top: 0px;
  right: 0px;
}

.message__buttons{
  display: flex;
  justify-content: center;
}

.message__button{
  color: #E03D75;
  background-color: #323232;
}

._align-center{
  text-align: center;
}

.card__data{
position: relative;
height: 250px;

.card__data-field{
  position: absolute;
  width: 325px;
  height: 150px;
  box-sizing: border-box;
  padding: 20px;
  background-color: @middle-grey;
  border-radius: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  transition: background-color 0.5s;

  &.visa{
    background-color: #102A94;
  }

  &.master{
    background-color: #FF5F00;
  }

  &.AE{
    background-color: #016FD0;
  }

  &._second{
    top: 55px;
    left: 95px;
    z-index: 1;
    background-color: @earl-grey;
    align-items: flex-end;
    justify-content: center;
  }

  &.master._second{
    background-color: #FE863F;
  }

  &.visa._second{
    background-color: #4967E2;
  }

  &.AE._second{
    background-color: #2B83D0;
  }
}
}

.card__number{
  font-size: 20px;
  font-weight: 500;
}

.card__date,.card__name,.card__cvv{
  font-size: 18px;
}

.card__name{
  display: flex;
  justify-content: space-between;
}

.card__logo{
  &.visa{
  background-color: #fff;
    background-image: url(../../assets/img/svg/Visa_symbol.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    box-sizing:border-box;
    padding: 13px;
  }

  &.master{
    background-color: #fff;
    background-image: url(../../assets/img/svg/mc_symbol.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    box-sizing:border-box;
    padding: 13px;
  }

  &.AE{
    background-color: #fff;
    background-image: url(../../assets/img/svg/AE_symbol.wine.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    box-sizing:border-box;
    padding: 13px;
  }
}

.card__inputs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .form__input{
    margin-top: 20px;
  }
}
