<main class="purchase">
  <form class="form" [formGroup]="purchaseForm" method="post">
    <h2 class="form__header">Оформление заказа</h2>
    <div class="form__block form__city">
      <mat-form-field class="form__input _long" appearance="standard">
        <mat-label>Область</mat-label>
        <mat-select formControlName="region">
          <mat-option *ngFor="let region of regions" [value]="region" (click)="getCities(region)">
            {{region}}
          </mat-option>
        </mat-select>
        <mat-error>
          <div *ngIf="_region?.invalid && _region?.touched">
            Обязательное поле
          </div>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form__block form__city">
      <mat-form-field class="form__input _long" appearance="standard">
        <mat-label>Город</mat-label>
        <input type="text" matInput formControlName="city" [matAutocomplete]="regionCities">
        <mat-autocomplete #regionCities="matAutocomplete">
          <mat-option *ngFor="let town of citiesFilter | async" [value]="town">
            {{town}}
          </mat-option>
        </mat-autocomplete>
        <mat-error>
          <div *ngIf="_city?.invalid && _city?.touched">
            Обязательное поле
          </div>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form__block form__address" formGroupName="Address">
      <div class="form__field">
        <mat-form-field class="form__input _long" appearance="standard">
          <mat-label>Улица</mat-label>
          <input matInput type="text" name="street" maxlength="29" formControlName="street">
          <mat-error>
            <div *ngIf="_street?.invalid && _street?.touched">
              Обязательное поле
            </div>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form__field">
        <mat-form-field class="form__input _short" appearance="standard">
          <mat-label>Дом</mat-label>
          <input matInput type="text" name="home" maxlength="3" formControlName="home">
          <mat-error>
            <div *ngIf="_home?.invalid && _home?.touched">
              Обяза-
              тельное поле
            </div>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form__field">
        <mat-form-field class="form__input _short" appearance="standard">
          <mat-label>Корпус</mat-label>
          <input matInput type="text" name="housing" maxlength="3" formControlName="housing">
          <mat-error>
            <div *ngIf="_housing?.invalid && _housing?.errors?.['max']">
              Макси
            </div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form__block form__block-comm">
      <h3 class="form__subheader">Комментарий <span class="optional">(необязательно)</span></h3>
      <mat-form-field class="form__input form__comm" appearance="outline">
        <textarea matInput name="comment" cols="60" rows="3" formControlName="comment"></textarea>
        <mat-hint class="optional">Расскажите как быстрее добраться к вам. Укажите код домофона или другую информацию,
          которая может пригодиться курьеру.</mat-hint>
      </mat-form-field>
    </div>
    <span class="form__subheader">Контактные данные</span>
    <div formGroupName="Contacts">
      <div class="form__block form__person">
        <div class="form__name">
          <mat-form-field class="form__input _middle" appearance="standard">
            <mat-label>Имя</mat-label>
            <input matInput type="text" name="street" maxlength="29" formControlName="name">
            <mat-error>
              <div *ngIf="_name?.invalid && _name?.touched">
                Обязательное поле
              </div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form__sirname">
          <mat-form-field class="form__input _middle" appearance="standard">
            <mat-label>Фамилия</mat-label>
            <input matInput type="text" name="home" formControlName="sname">
            <mat-error>
              <div *ngIf="_sname?.invalid && _sname?.touched">
                Обязательное поле
              </div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form__mail">
          <mat-form-field class="form__input _long" appearance="standard">
            <mat-label>E-mail</mat-label>
            <input matInput type="E-mail" formControlName="mail">
            <mat-hint>E-mail используется для оповещения об изменениях статуса заказа.</mat-hint>
            <mat-error>
              <div *ngIf="_mail?.invalid && _mail?.touched">
                <div *ngIf="_mail?.errors?.['required']">Обязательное поле</div>
                <div *ngIf="_mail?.errors?.['email'] && !_mail?.errors?.['required']">Введите корректный адрес
                  электронной почты.</div>
                <div
                  *ngIf="_mail?.errors?.['validEmails'] && !_mail?.errors?.['email'] && !_mail?.errors?.['required']">
                  Введите существующий почтовый домен.</div>
              </div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="form__block">
      <h3 class="form__subheader">Выбрать способы оплаты</h3>
      <div class="payment" formGroupName="PaymentVal">
        <div class="payment__item">
          <label class="custom-checkbox custom-checkbox__pos" for="card">
            Карта
            <input formControlName="pay" class="custom-checkbox__input" type="radio" id="card" value="card" checked>
            <span class="custom-checkbox__checkmark"></span>
          </label>
        </div>
        <div class="payment__item">
          <label class="custom-checkbox custom-checkbox__pos" for="cash">
            Наличные
            <input formControlName="pay" class="custom-checkbox__input" type="radio" id="cash" value="cash"
              (change)="cashSelected()">
            <span class="custom-checkbox__checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="form__block" *ngIf="this.purchaseForm?.value.PaymentVal.pay == 'card'">
      <div class="card__data">
        <div class="card__data-field" [class.visa]="this.isVisa" [class.master]="this.isMaster" [class.AE]="this.isAE">
          <div class=" card__number">
            {{(this.purchaseForm?.value.Card.cardNumber | mask: '0000 0000 0000 0000') || "1234 1234 1234 1234"}}</div>
          <div class="card__date">{{(this.purchaseForm?.value.Card.cardDate | mask:'00/00') || "12/23"}}</div>
          <div class="card__name">
            {{this.purchaseForm?.value.Card.cardName || "Name Surname"}} <span class="card__logo"
              [class.visa]="this.isVisa" [class.master]="this.isMaster" [class.AE]="this.isAE"></span></div>
        </div>
        <div class="card__data-field _second" [class.visa]="this.isVisa" [class.master]="this.isMaster"
          [class.AE]="this.isAE">
          <div class="card__cvv">CVV: {{this.purchaseForm?.value.Card.cvv || "111"}}</div>
        </div>
      </div>
      <div class="card__inputs" formGroupName="Card">
        <mat-form-field class="form__input _middle" appearance="outline">
          <mat-label>Номер карты</mat-label>
          <input matInput type="text" formControlName="cardNumber" (input)="typeOfCard()" mask="0000 0000 0000 0000">
          <mat-error>
            <div *ngIf="_cardNumber?.invalid && _cardNumber?.touched">
              Введите номер карты, длинной 16 символов.
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form__input _middle" appearance="outline">
          <mat-label>Срок действия</mat-label>
          <input matInput type="text" maxlength="5" formControlName="cardDate" mask="M0/00">
          <mat-error>
            <div *ngIf="_cardDate?.invalid && _cardDate?.touched">
              Введите срок действия картыв формате мм/гг.
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form__input _middle" appearance="outline">
          <mat-label>Имя владельца</mat-label>
          <input matInput type="text" formControlName="cardName" (input)="toUpper()" maxlength="25">
          <mat-error>
            <div *ngIf="_cardName?.invalid && _cardName?.touched">
              <div *ngIf="_cardName?.errors?.['maxlength']">Длинна не больше 25 символов</div>
              <div *ngIf="_cardName?.errors?.['pattern']">Введите в формате NAME SURNAME</div>
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form__input _middle" appearance="outline">
          <mat-label>Cvv</mat-label>
          <input matInput type="text" maxlength="3" formControlName="cvv" mask="000">
          <mat-error>
            <div *ngIf="_cardName?.invalid && _cardName?.touched">
              Введите код в формате 123.
            </div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button class="button" type="submit"
      (click)=" postPurchase();delAllAfterPurchase();printNamesInCart()"
      [disabled]="!purchaseForm.valid || (this.purchaseForm.value.PaymentVal.pay == 'card' && (this.purchaseForm?.value.Card.cardNumber == null || this.purchaseForm?.value.Card.cardDate == null || this.purchaseForm?.value.Card.cardName == null || this.purchaseForm?.value.Card.cvv == null))">Оформить</button>
  </form>
  <div class="info">
    <div *ngIf="cartProducts.total>0">
      <div class="purchase _wp">
        <div class="purchase__item _first">
          <p class="purchase__text">Заказ</p>
          <a class="link" [routerLink]="'/cart'">Изменить</a>
        </div>
      </div>
      <div class="purchase__item" *ngFor="let item of products; let i = index">
        <p class="purchase__text _long _small_fs">{{item.offer.name}}</p>
        <p class="purchase__text _middle _small_fs _align-center">
          <button [disabled]="item.numInCart<2" mat-icon-button class="purchase__btn"
            (click)="updateQuantity(i,false);printNamesInCart()">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
          {{item.numInCart}}
          <button mat-icon-button class="purchase__btn" (click)="updateQuantity(i,true);printNamesInCart()">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </p>
        <p class="purchase__text _short _small_fs">${{item.offer.price}}</p>
      </div>
    </div>
    <div *ngIf="cartProducts.total == 0">
      <p class="purchase__text _align-center">Вы можете заказать что-нибудь еще <a class="link"
          [routerLink]="'/'">здесь</a></p>
    </div>
    <div class="line"></div>
    <div class="purchase__item">
      <p class="purchase__text">Итого</p>
      <p class="purchase__text">${{cartProducts.total}}</p>
    </div>
  </div>
  <div class="message message__pos">
    <p class="message__text">Добрый день {{this.showUsername()}}!
      Вы хотите заполнить форму исходя из последнего заказа?
    </p>
    <button class="close close__pos" mat-icon-button color="accent" (click)="showHideMessage('-100%')">
      <mat-icon>close</mat-icon>
    </button>
    <div class=" message__buttons">
      <button mat-flat-button class="message__button" (click)="showHideMessage('-100%'); autoComplete()">Да</button>
      <button mat-flat-button class="message__button" (click)="showHideMessage('-100%')">Нет</button>
    </div>
  </div>
</main>
