<div class="category__wrapper">
  <div class="category_name">
    <button *ngFor="let category of categories"
            (click)="getOffersFromCategory(category.nameOfRouterCategory)">
      {{category.nameOfCategory}}
    </button>
  </div>
  <app-offer-list class="card_grid"></app-offer-list>

</div>
