.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-row-gap: 40px;
  justify-items: center;
  align-items: center;
  padding: 40px 0px 40px 0px;
}

.category_name {
  display: flex;
  justify-content: space-around;
}

.category_name button {
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: 30%;
}

.category_name button:hover {
  cursor: pointer;
  background-color: #a5a5a5;
}
