<main class="main">
  <app-slider></app-slider>
  <div class="wrapper filter-and-cards">
    <app-filter class="filter"></app-filter>
    <app-category class="category"></app-category>
  </div>
</main>
