.filter-and-cards {
  display: flex;
  flex-direction: row;
  width: 95%;
  min-height: 500px;
  //height: calc(100vh - 132px);
}

.filter {
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  width: 20%;
}

.category {
  background-color: white;
  width: 80%;
}

@media (max-width: 710px) {
  .filter {
    width: 50%;
    min-height: 0;
    margin-bottom: 25px;
  }

  .filter-and-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
