.empty-cart_header {
  padding-top: 1.5rem;
}

.cart__wrapper {
  min-height: 500px;
  width: 95%;
  height: calc(100vh - 132px);
}

.cart__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1px;
  border-bottom: 1px solid #e5e5e5;
}

.cart-img {
  max-width: 100px;
  max-height: 100px;
}

a {
  color: #007eff;
  text-decoration: none;
}

.cart-order__block {
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* table */

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-item_quantity {
  margin: 0 auto;
  text-align: center;

  button {
    border: none;
    background: 0 0;
    border: 1px solid #bdbbbc;
    border-radius: 10px;
  }
}

.cart-item_name {
  cursor: pointer;

  &:hover {
    color: #918787;
  }
}

td {
  padding: 1rem;
  text-align: center;
}

tr {
  height: 160px;
  border-bottom: 1px solid #e5e5e5;
}
