<div class="wrapper cart__wrapper" *ngIf="cartData | async as cartData">
  <div *ngIf="cartData.data[0].numInCart !== 0;else emptyCart">
    <div>
      <div class="cart__header">
        <h2>Моя Корзина <small>({{cartData.data.length}})</small></h2>
        <button mat-button (click)="deleteAllOffersFromCart()">Очистить корзину</button>
      </div>

      <table>
        <tbody>
        <tr *ngFor="let cartItem of cartData.data; let i = index">
          <td>{{i + 1}}</td>
          <td><img class="cart-img" src={{cartItem.offer.image}}></td>
          <td>
            <div class="cart-item_name" (click)="selectOffer(cartItem.offer.externalId)">{{cartItem.offer.name}}</div>
          </td>
          <td class="cart-item_quantity">
            <button (click)="updateQuantity(i,false)">-</button>
            {{cartItem.numInCart}}
            <button (click)="updateQuantity(i,true)">+</button>
          </td>
          <td>{{cartItem.subTotal | currency:'USD' }}</td>
          <td>
            <button mat-button (click)="deleteOfferFromCart(i)">Удалить</button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="cart-order__block">
      <div>Стоимость товаров ({{cartData.data.length}})
        <strong>{{(cartTotal | async) | currency:'USD' }}</strong>
      </div>
      <button mat-raised-button color="warn" [routerLink]="'/purchase'">Перейти к оформлению</button>
      <button mat-button [routerLink]="'/'">Продолжить выбирать товары</button>
    </div>
  </div>

  <ng-template #emptyCart>
    <h2 class="empty-cart_header">В корзине еще нет товаров</h2>
    <p>Выберите нужный Вам товар из <a [routerLink]="'/'">каталога Интернет-магазина</a></p>
  </ng-template>
</div>
