<div class="filter__wrapper">
  <form
    *ngIf="filterForm"
    [formGroup]="filterForm"
    action=""
    class="filter_form">
    <div class="search-form">
      <input
        #searchInput
        formControlName="search"
        class="header__search" type="search" placeholder="Search...">
    </div>
    <div class="price_range-slider">

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Цена
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Мин цена: {{ filterForm.value.sliderControl[0] | currency:'USD'  }}</p>
          <p>Макс цена: {{ filterForm.value.sliderControl[1] | currency:'USD'  }}</p>
          <ngx-slider [options]="options" formControlName="sliderControl"></ngx-slider>
          <button mat-button (click)="searchByPrice()">Найти</button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <button mat-button (click)=getAllOffers()>Показать все товары</button>

  </form>


  <div class="filter_result">
    Найдено: {{(offerList$ | async)?.length}}
  </div>
</div>
