.filter__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.filter_instock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.filter_rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.filter_rating input {
  width: 50%;
}

.filter_result {
  position: sticky;
  bottom: 0;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #c4c4c4;
  border-radius: 14px;

  &:hover {
    background-color: rgb(216, 203, 203);
  }
}

//
.header__search {
  height: 30px;
  padding: 8px 14px 8px 44px;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 100%;
}

.filter_form {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.search-form {
  padding-top: 1rem;
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.search-form::before {
  content: "";
  position: absolute;
  left: 14px;
  top: 16px;
  bottom: 0;
  width: 18px;
  background: url("../../assets/img/svg/search.svg") center / contain no-repeat;
}

.price_range-slider {
  padding-top: 20px;
}
