<div class="wrapper">
  <a mat-flat-button class="back" [routerLink]="'/profile'">
    <mat-icon>arrow_back</mat-icon>
    <span>Назад</span>
  </a>
  <div class="content">
    <form class="form" [formGroup]="userDataForm">
      <div class="input-image__wrapper" appearance="standard">
        <input formControlName="image" accept="image/*" class="input__image" id="input__image" type="file"
          (change)="_onImagePicked($event)">
        <label for="input__image">
          <div class="user__profile">
            <div class="user__icon">
              <img class="user__avatar" src="{{src}}" alt="">
            </div>
            <mat-error *ngIf="userDataForm.get('image')?.errors">
              Выберите картинку.
            </mat-error>
          </div>
        </label>
        <mat-error>
          <div *ngIf="_imagePreview && !userDataForm.get('image')?.errors">
            <img class="image-preview" [src]="_imagePreview" alt="Uploaded image" />
          </div>
        </mat-error>
      </div>
      <mat-form-field class="form__input _middle" appearance="standard">
        <mat-label>Имя</mat-label>
        <input matInput type="text" maxlength="29" formControlName="name" value="">
      </mat-form-field>
      <mat-form-field class="form__input _middle" appearance="standard">
        <mat-label>Фамилия</mat-label>
        <input matInput type="text" formControlName="sname">
      </mat-form-field>
      <mat-form-field class="form__input _middle" appearance="standard">
        <mat-label>Область</mat-label>
        <input matInput type="text" maxlength="29" formControlName="region">
      </mat-form-field>
      <mat-form-field class="form__input _middle" appearance="standard">
        <mat-label>Город</mat-label>
        <input matInput type="text" maxlength="29" formControlName="city">
      </mat-form-field>
      <mat-form-field class="form__input _long" appearance="standard">
        <mat-label>Улица</mat-label>
        <input matInput type="text" maxlength="29" formControlName="street">
      </mat-form-field>
      <mat-form-field class="form__input _short" appearance="standard">
        <mat-label>Дом</mat-label>
        <input matInput type="text" maxlength="3" formControlName="home">
      </mat-form-field>
      <mat-form-field class="form__input _short" appearance="standard">
        <mat-label>Корпус</mat-label>
        <input matInput type="text" maxlength="3" formControlName="housing">
      </mat-form-field>
      <mat-form-field class="form__input _short" appearance="standard">
        <mat-label>Телефон</mat-label>
        <input matInput type="tel" formControlName="phone" prefix="+375" mask="(00) 000-00-00">
        <mat-error>
          <div *ngIf="_phone?.invalid && _phone?.touched || _phone?.dirty">
            Введите телефон в формате +375440000000
          </div>
        </mat-error>
      </mat-form-field>
      <button mat-stroked-button class="form__save-btn" (click)="editUser()"
        [disabled]="!userDataForm.valid">Сохранить</button>
    </form>
  </div>
</div>
