.wrapper{
  min-height: calc( 100vh - 132px);
  box-sizing: border-box;
  padding: 20px;
  // display: flex;
  // align-items: center;
  // align-items: center;
  // flex-direction: column;
}

.content{
   display: flex;
  align-items: center;
  flex-direction: column;
}

.user__icon{
  width: 73px;
  height: 73px;

}

.user__avatar{
  object-position: center;
  height: 69px;
  width: 69px;
  border: 2px solid #323232;
  border-radius: 10px;
  cursor: pointer;
}

.user__avatar:hover{
  background-color: #F5F5F5;
}

.form{
  display: flex;
  flex-direction: column;

  &__save-btn{
    background-color: #323232;
    color: #fff;
  }
}

.image-preview{
  width: 250px;
  margin-top: 5px;
}

.input__image{
  display: none;
}

.user__profile{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
