table {
  width: 100%;
}

.product-info {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  img {
    width: 90px;
    height: auto;
    max-height: 100px;
  }
}

.product-info-description {
  padding-left: 1rem;
}

.product-info-status {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
  }
}

.product-info-panel-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-form {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center
}

.header__search {
  height: 30px;
  padding: 8px 14px 8px 44px;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 50%;
}

.search-form::before {
  content: "";
  position: absolute;
  //left: 157px;
  top: 16px;
  bottom: 16px;
  width: 18px;
  background: url("../../../assets/img/svg/search.svg") center / contain no-repeat;
}
