<form
  *ngIf="searchForm"
  [formGroup]="searchForm"
  action=""
  class="filter_form">
  <div class="search-form">
    <input
      #searchInput
      formControlName="search"
      class="header__search" type="search" placeholder="Поиск по email...">
  </div>
</form>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="orderList$ | async">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Наименование товара</th>
      <td mat-cell *matCellDef="let order">
        <h2>ID: {{order._id}}</h2>
        <div *ngFor="let product of order.products" class="product-info">
          <img src="{{product.offer.image}}" alt="">
          <div class="product-info-description">
            <p>{{product.offer.name}}</p>
            <p>{{product.offer.price | currency: 'USD' }} x {{product.numInCart}}</p>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let order"> {{order.email}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Статус заказа</th>
      <td mat-cell *matCellDef="let order">
        <div class="product-info-status">
          <h2 class="product-total-price">Стоимость: {{order.totalPrice | currency: 'USD'}}</h2>
          Заказ {{order.status}}
          <button *ngIf="order.status === 'Доставлен'" mat-button (click)="changeStatus(order._id, 'Оформлен')">
            <img src="./assets/img/svg/edit.svg" alt="edit">
            Изменить статус на Оформлен
          </button>
          <button *ngIf="order.status === 'Оформлен'" mat-button (click)="changeStatus(order._id, 'Доставлен')">
            <img src="./assets/img/svg/edit.svg" alt="edit">
            Изменить статус на Доставлен
          </button>
        </div>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    showFirstLastButtons
    [pageSizeOptions]="[5, 10]"
    [length]="purchaseTotal$ | async"
    [pageSize]='5'
  >
  </mat-paginator>
</div>
