@import "../sign-in/sign-in.component";

//!Mixins

.before(@width: 100%, @height: 2px,@rules:{margin: 0;}){
  &:before{
    content: "";
    display: block;
    width: @width;
    height: @height;
    background-color: @lines-color;
    @rules();
  }
}

//-------------------------------------------------------------------------

.form{
  .media(430px, {padding: 15px;});
}

.form__text{
  font-size: 18px;
}

.form__content{
  display: flex;
  flex-direction: column;
}

.form__password-block{
  position: relative;
  margin-top: 10px;
}

.form__icon{
  position: absolute;
  left: calc(100% - 36px);
  top: calc(50% - 14.5px);
  width: 30px;
  height: 25px;
  background-image: @eye;
  background-repeat: no-repeat;
}

.form__info{
  margin: 10px 0;
}

.form__info{
  .before(@rules:{margin: 10px 0;});
}

.form__button{
  margin: 20px 0 10px;
}

.link__question{
  color: @dark-grey;
}
