<div class="sign-up">
  <form class="form" *ngIf="registrationForm" [formGroup]="registrationForm">
    <div class="form__content">
      <h2 class="form__header">Регистрация</h2>
      <mat-form-field class="form__input" appearance="standard">
        <mat-label>Ваш e-mail</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error>
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <div *ngIf="email?.errors?.['required']">Required field</div>
            <div *ngIf="email?.errors?.['email']">Email invalid</div>
            <div *ngIf="email?.errors?.['validEmails']">Domen invalid</div>
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form__input" appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" class="form__input form__password"
          formControlName="password" autocomplete="off" type="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <div *ngIf="password?.errors?.['required']">Required field</div>
            <div *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters</div>
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form__input" appearance="standard">
        <mat-label>Repeat password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" class="form__input form__password"
          formControlName="confirmPassword" autocomplete="off" type="password">
        <mat-error>
          <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
            <div *ngIf="confirmPassword?.errors?.['required']">Required field</div>
            <div *ngIf="confirmPassword?.errors?.['compare']">Passwords must match</div>
          </div>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button class="button form__button" [disabled]="!registrationForm.valid"
        (click)="registrationForm.valid && signUp()">Зарегистрироваться
      </button>
      <a mat-button [routerLink]="'/sign-in'" class="link" href="#"><span class="link__question">Есть профиль на
          TechShop? </span>Войти</a>
    </div>
  </form>
</div>
