<ng-container *ngFor="let offer of (offerList$ | async)">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title (click)="selectOffer(offer.externalId)">{{offer.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="mat-card_img" src="{{offer.image}}" alt="">
    <mat-card-content>
      <p>{{offer.description}}</p>
    </mat-card-content>
    <mat-card-actions class="bottom-block">
      <p class="card_price">{{ offer.price | currency:'USD' }}</p>
      <div class="card_adding">
        <button mat-button class="card_cart" (click)="addToCart(offer.externalId)">В корзину</button>
        <button *ngIf="favoriteIdsObservable | async as favIds" mat-icon-button class="card_fav" color="warn"
          (click)="toggleFavorite(offer, offer.externalId,favIds)">
          <span [class.active]="checkActive(offer.externalId,favIds)"></span>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</ng-container>
