.card_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  background-color: #bdbdbd;
  width: 80%;
  height: 40px;
}

.card_cart:hover {
  cursor: pointer;
  background-color: white;
}

.card {
  width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.bottom-block {
  width: 100%;
  .card_adding {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card_fav {
  img {
    width: 35px;
  }

  span{
    display: block;
    width: 25px;
    height: 25px;
    background-image: url("../../assets/img/svg/heart.svg");
    background-repeat: no-repeat;
    margin-left: 7.5px;

    &.active{
    background-image: url("../../assets/img/svg/heart_red.svg");
    }
  }
}

.mat-card_img {
  max-height: 170px;
  width: auto;
}

.card:hover {
  box-shadow: 0px 0px 46px -19px #000000;
}

.card_price {
  font-size: 1.3rem;
}

.mat-card-header {
  min-height: 70px;
  cursor: pointer;
  &:hover {
    color: #918787;
  }
}

.mat-card-content {
  padding-top: 1rem;
  height: 150px;
}
