<div>
  <div class="wrapper offer__wrapper">

    <div class="offer">
      <div class="offer-image"><img src="{{offer.image}}"></div>
      <div class="offer-description">
        <h2>{{offer.name}}</h2>
        <div>* * * * *</div>
        <div class="offer_price">{{ offer.price | currency:'USD' }}</div>
        <div>{{offer.description}}</div>
        <div class="offer-add-cart">
          <div class="qty__wrapper">
            <p>QTY</p>
            <div class="quantity_inner">
              <button class="bt_plus" (click)="increment()">+</button>
              <input class="quantity" type="text" readonly value={{counter}} min="1" #quantity>
              <button class="bt_minus" (click)="decrement()">-</button>
            </div>

          </div>
          <button class="button_add" mat-button (click)="addToCart(offer.externalId, counter)">ADD to cart</button>
        </div>
        <div>
          <div class="offer-add-wishlist" (click)="toggleFavorite(offer,offer.externalId)">
            <img src="../../assets/img/svg/heart.svg">
            <p>ADD TO WISHLIST</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
