.offer {
  display: flex;
  justify-content: space-around;
}

.offer__wrapper {
  height: calc(100vh - 132px);
  min-height: 480px;
}

.offer-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 40%;

  img {
    max-height: 170px;
    width: auto;
  }
}

.offer_price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.offer-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 40%;
}

.offer-add-wishlist {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  p {
    margin: 0;
  }

  img {
    width: 1.3rem;
  }
}


//-----------------------------------
.offer-add-cart {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.qty__wrapper {
  display: flex;
  align-items: center;
  p {
    margin: 0;
    padding-right: 1rem;
  }
}

.quantity_inner {
  display: inline-flex;
  border-radius: 26px;
  border: 1px solid gray;
}
.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .quantity {
  width: 30px;
  padding: 0;
  border: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  outline: 0;
}
.quantity_inner .quantity {
  text-align: center;
  font-size: 20px;
  font-weight: bold;

}

.button_add {
  border: 1px solid gray;
  border-radius: 30px;
  height: 35px;
}
