<div class="slider">
  <ng-image-slider [images]="imgCollection" [infinite]="true" [imagePopup]="false"
    [imageSize]="{space: 0, width: '100%', height: '425px'}" [autoSlide]="{interval: 3, stopOnHover: false}"
    [lazyLoading]="true">
  </ng-image-slider>
</div>
