<div class="wrapper" *ngIf="user$ | async as user">
  <div class="user__profile">
    <div class="user__icon"><img class="user__avatar" src="{{user.image}}" alt="">
    </div>
  </div>
  <div class="user__info">
    <div class="user__info-header">
      <h2 class="user__info-subheader">{{user.userName}}</h2>
      <p class="user__mail">{{user.email}}</p>
    </div>
    <button mat-stroked-button class="user__change-btn" [routerLink]="'/user-info'">Редактировать</button>
  </div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Личные данные">
      <div>
        <div class="user__data-fc">
          <div class="user__data-headers">
            <p>Имя пользователя:</p>
            <p>Имя: </p>
            <p>Фамилия: </p>
            <p>Область:</p>
            <p>Город: </p>
            <p>Улица:</p>
            <p>Дом: </p>
            <p>Корпус: </p>
          </div>
          <div class="user__data">
            <p class="user__data-text">{{user.userName}}</p>
            <p class="user__data-text">{{user.name || "—"}}</p>
            <p class="user__data-text">{{user.sname || "—"}}</p>
            <p class="user__data-text">{{user.region || "—"}}</p>
            <p class="user__data-text">{{user.city || "—"}}</p>
            <p class="user__data-text">{{user.street || "—"}}</p>
            <p class="user__data-text">{{user.home || "—"}}</p>
            <p class="user__data-text">{{user.housing || "—"}}</p>
          </div>
        </div>
        <div class="line"></div>
        <div class="user__data-fc">
          <div class="user__data-headers">
            <p>Телефон:</p>
          </div>
          <div class="user__data">
            <p class="user__data-text">+375{{(user.phone | mask: "(00) 000-00-00") || "—"}}</p>
          </div>
        </div>
        <div class="line"></div>
        <div class="user__data-fc">
          <div class="user__data-headers">
            <p>Почта:</p>
          </div>
          <div class="user__data">
            <p class="user__data-text">{{user.email}}</p>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Мои заказы">
      <div class="user__purchases" *ngFor="let purchase of purchases.purchases" (click)="onSelectItem(purchase)">
        <div class="user__purchases-header">
          <div class="user__purchase-id">
            <p class="user__purchase-price-text">ID:</p>
            <p class="user__purchase-price-text">{{purchase._id}}</p>
          </div>
          <div class="user__purchase-price">
            <p class="user__purchase-price-text">Стоимость:</p>
            <p class="user__purchase-price-cost">$ {{purchase.totalPrice}}</p>
          </div>
        </div>
        <div class="user__purchases-info" [class.active]="purchase == activePurchase">
          <div>
            <div class="user__products" *ngFor="let product of purchase.products">
              <div class="user__products-info" (click)="selectOffer(product.offer.externalId)">
                <img src="{{product.offer.image}}" alt="">
                <div class="user__product-info">
                  <p>{{product.offer.name}}</p>
                  <p>${{product.offer.price}} x {{product.numInCart}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="user__products-status">
            {{purchase.status}}
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
