.wrapper{
  min-height: calc( 100vh - 132px);
  box-sizing: border-box;
  padding: 20px;
}

.user__icon{
  width: 73px;
  height: 73px;
}

.user__avatar{
  object-position: center;
  width: 69px;
  height: 69px;
  border: 2px solid #323232;
  border-radius: 10px;
}

.user__info{
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__info-subheader{
  font-size: 34px ;
}

.user__change-btn{
  padding: 10px;
  box-sizing:border-box;
  border: none;
  background-color: #323232;
  color: #fff;
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

.user__panels{
  display: flex;
  justify-content: space-between;
}

.link{
  width: 48%;
}

.user__panel-text{
  margin: 0;
}

.flex{
  display: flex;
}

.user__data-text{
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
}

.user__data-fc{
  display: flex;
  margin-top: 10px;
}

.line{
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgb(195, 195, 195);
  margin: 15px 0;
}

.user__purchases-header{
  width: 100%;
  // height: 20px;
  background-color: #F5F5F5;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  box-sizing:border-box;
  padding: 15px;
  cursor: pointer;
}

.user__purchase-id{
  display: flex;
}

.user__purchase-price-cost{
  padding-left: 5px;
}

.user__purchase-price-cost{
  font-size: 20px;
  color: #EE5C24;
}

.user__purchases-info{
  display: flex;
  justify-content: space-between;
}

.user__products{
  &:hover{
    color: #EE5C24;
  }
}

.user__products-info{
  cursor: pointer;

  & > img{
    max-width: 100px;
  }

}

.user__products-info{
  display: flex;
  // justify-content: space-around;
}

.user__products{
  box-sizing: border-box;
  padding: 15px;
}

.user__product-info{
  padding-left: 10px;
}

.user__products-status{
  box-sizing:border-box;
  padding: 15px;
}

.user__purchases-info.active{
  // visibility: visible;
  display: flex;
}

.user__purchases-info{

    display: none;

}
