.form {
  width: 50%;
  justify-content: center;
  padding: 1.5rem;
}

.form__content {
  display: flex;
  flex-direction: column;
}

.image-preview {
  width: 100%;
  padding-top: 1rem;
}

.input-image__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.input__image {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__image-icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #fff;
}

.input__image-button {
  width: 100%;
  max-width: 230px;
  height: 50px;
  background: #918787;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
}

.edit-buttons__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .button__submit {
    width: 75%;
  }

}

.button__submit {
  width: 100%;
}

.edit-button_clear {
}

/* table */
.cart-img {
  max-width: 100px;
  max-height: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th.mat-header-cell {
  text-align: center;
}

td.mat-cell {
  padding: 0.5rem;
}

tr.mat-row, tr.mat-footer-row {
  height: 7rem;
  text-align: center;
}
