<div class="add-offer">
  <form class="form"
        *ngIf="createOfferForm"
        [formGroup]="createOfferForm">
    <div class="form__content">
      <h2 class="form__header" *ngIf="!isEdit">Добавить товар</h2>
      <h2 class="form__header" *ngIf="isEdit">Редактировать товар</h2>
      <mat-form-field class="form__input" appearance="standard">
        <mat-label>externalId укажите {{(offerList$ | async)?.length + 1}}</mat-label>
        <input matInput
               class="form__input"
               type="number"
               formControlName="externalId">
        <mat-error>
          <div *ngIf="externalId?.invalid && (externalId?.dirty || externalId?.touched)">
            <div *ngIf="externalId?.errors?.['required']">Required field</div>
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form__input" appearance="standard">
        <mat-label>name</mat-label>
        <input matInput
               class="form__input"
               type="text"
               formControlName="name">
        <mat-error>
          <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
            <div *ngIf="name?.errors?.['required']">Required field</div>
          </div>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="form__input" appearance="standard">
        <mat-label>category</mat-label>
        <input matInput
               class="form__input"
               type="text"
               formControlName="category">
        <mat-error>
          <div *ngIf="category?.invalid && (category?.dirty || category?.touched)">
            <div *ngIf="category?.errors?.['required']">Required field</div>
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form__input" appearance="standard">
        <mat-label>description</mat-label>
        <textarea matInput
                  class="form__input"
                  type="text"
                  formControlName="description">
        </textarea>
        <mat-error>
          <div *ngIf="description?.invalid && (description?.dirty || description?.touched)">
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form__input" appearance="standard">
        <mat-label>price</mat-label>
        <input matInput
               class="form__input"
               type="number"
               formControlName="price">
        <mat-error>
          <div *ngIf="price?.invalid && (price?.dirty || price?.touched)">
            <div *ngIf="price?.errors?.['required']">Required field</div>
          </div>
        </mat-error>
      </mat-form-field>

      <div class="input-image__wrapper" appearance="standard">
        <input accept="image/*"
               class="input__image"
               id="input__image"
               type="file"
               (change)="_onImagePicked($event)">
        <label for="input__image" class="input__image-button">
          <span class="input__image-icon-wrapper"><img class="input__image-icon" src="./assets/img/svg/download.svg"
                                                       alt="Выбрать файл" width="25"></span>
          <span class="input__image-button-text">Выберите файл</span>
        </label>
        <mat-error>
          <div *ngIf="_imagePreview && !createOfferForm.get('image')?.errors">
            <img class="image-preview" [src]="_imagePreview" alt="Uploaded image"/>
          </div>

        </mat-error>
      </div>
      <button mat-raised-button
              *ngIf="!isEdit"
              type="submit"
              class="button button__submit"
              [disabled]="!createOfferForm.valid"
              (click)="createOfferForm.valid && createOffer()"
      >Добавить
      </button>
      <div class="edit-buttons__wrapper" *ngIf="isEdit">
        <button mat-raised-button
                type="submit"
                class="button button__submit"
                [disabled]="!createOfferForm.valid"
                (click)="createOfferForm.valid && submitEditOffer(externalId?.value)"
        >Сохранить
        </button>
        <button mat-raised-button
                color="warn"
                class="edit-button_clear"
                (click)="clearEditForm()">
          Отмена
        </button>

      </div>
    </div>
  </form>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="offerList$ | async">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element"> {{element.externalId}} </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let element"><img class="cart-img" src={{element.image}}></td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="warn" (click)="deleteOffer(element.externalId)">
            <img src="./assets/img/svg/trash.svg" alt="delete">
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="editOffer(element.externalId)">
            <img src="./assets/img/svg/edit.svg" alt="edit">
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>
