<div class="favorite">
  <ng-container *ngIf="favoriteObservable | async as favoritesItems">
    <div class="favorite__content" *ngIf="(favoritesItems.length !== 0 && isAuthenticated);else emptyFavorite">
      <div class="favorite__field favorite__head">
        <h2 class="favorite__header">В вашем избранном ({{favoritesItems.length}}):</h2>
        <div class="favorite__buttons">
          <button mat-button class="button _uncolored-theme" (click)="addAllToCart(favoritesItems)">Добавить все в
            корзину</button>
          <button mat-button class="button _uncolored-theme" (click)="delAllFavorites()">Удалить все</button>
        </div>
      </div>
      <div class="favorite__field favorite__item" *ngFor="let item of favoritesItems">
        <div class="favorite__column-1">
          <img class="image" src="{{item.image}}">
          <button mat-button class="button _small _uncolored-theme"
            (click)="delFavorite(item, item.externalId)">Удалить</button>
        </div>
        <div class="favorite__column-2">
          <h3 class="favorite__subheader _bold">{{item.name}}</h3>
          <div class="favorit__item-description">
            <p>Категория: <span class="_bold">{{item.category}}</span></p>
            <p>Описание: <span class="_bold">{{item.description}}</span></p>
          </div>
        </div>
        <div class="favorite__column-3">
          <p><span class="price _bold">{{item.price}}$</span></p>
          <div class="favorites__buttons">
            <button *ngIf="!deleteInFutureIdList.includes(item.externalId)" mat-icon-button><img
                src="../../assets/img/svg/heart_red.svg" (click)='delOnHeart(item, item.externalId)'></button>
            <button *ngIf="deleteInFutureIdList.includes(item.externalId)" mat-icon-button><img
                src="../../assets/img/svg/heart.svg" (click)='addFavorite(item, item.externalId)'></button>
            <button mat-button class="button _uncolored-theme" (click)="addToCart(item.externalId)">В
              корзину</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyFavorite>
    <div *ngIf="isAuthenticated">
      <h2>У вас еще нет избранных товаров.</h2>
      <p><a mat-button class="link" [routerLink]="'/'">Вы можете найти их тут.</a></p>
    </div>
    <div *ngIf="!isAuthenticated">
      <h2>Избранное доступно только зарегистрированным пользователям.</h2>
      <p><a mat-button class="link" [routerLink]="'/sign-in'">Войти или зарегистрироваться</a></p>
    </div>
  </ng-template>
</div>
