//!Variables

@earl-grey: rgb(237, 237, 237);
@middle-grey:rgb(175, 167, 167);
@dark-grey: #3e4753;
@earl-blue: rgb(116, 159, 222);

@btn-text-color: #fff;
@btn-color: @dark-grey;
@lines-color: @earl-grey;
@link-color: @earl-blue;


.media(@max-width, @rules){
  @media(max-width: @max-width){
    @rules();
  }
}

//--------------------------------------------------

*{
  padding: 0;
  margin: 0;
}


.favorite{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc( 100vh - 132px);
  box-sizing: border-box;
  padding: 20px;
}

.favorite__field{
  margin-top: 30px;
}

.favorite__head{
  display: flex;
  justify-content: space-between;
}

.favorite__header{
  margin: 0;
}

.button{
  background-color: @btn-color;
  border: none;
  color: @btn-text-color;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  box-sizing:border-box;
}

.button._small{
  width: 150px;
}

.button._uncolored-theme{
  background-color: @btn-text-color;
  color: @btn-color;
  text-decoration: underline;

  &:hover{
    text-decoration: none;
  }
}

.favorite__buttons .button:first-child{
  margin-right: 10px;
}

.image{
  width: 150px;
}

.favorite__item{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &::before{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: @lines-color;
    margin-bottom: 30px;
  }
}

.favorite__column-1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

._bold{
  font-weight: 500;
}

.favorite__column-2{
  width: 40%;
}

.price{
  font-size: 24px;
}

.favorite__column-3{
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link{
  text-decoration: none;
  color: @link-color;
}
