<div class="wrapper">
  <mat-drawer-container class="admin-panel-container">
    <mat-drawer mode="side" opened>
      <div class="admin-panel-sidebar">
        <h1>Admin Panel</h1>
        <button mat-raised-button [routerLink]="'offer-management'">Товары</button>
        <button mat-raised-button [routerLink]="'order-management'">Заказы</button>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

</div>

