.admin-panel-container {
  width: 100%;
  height: calc(100vh - 132px);
}

.mat-drawer {
  width: 20%;
}

.admin-panel-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  height: 100%;

  button {
    width: 90%;
    margin: 1rem;
    white-space: normal;
  }
}
